/******** GLOBAL STYLES ********/
html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: .9em;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 1.875em;

}

h2 {
    font-size: 1.5em;

}

h3 {
    font-size: 1.25em;

}

h4 {
    font-size: 0.75em;

}

p {
    line-height: 36px;
    font-size: 1rem;

}

.content-wrapper {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/******** HEADER STYLES ********/
header {
    display: flex;
    justify-content: center;
    text-align: center;
}

header h1 {
    /*outline: 3px dotted red;*/
    width: 100%;
    padding: 38px 0  20px 0;
    margin: 0;
    border-bottom: 3px solid #77A466;
}

header h1 span {
    color: #45610E;

}

header nav {
    /*outline: 3px dotted red;*/
    /*width: 300px;*/
    padding: 20px 0px;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav ul li {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #45610E;
}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/

.top-section,
.bottom-section {
    display: flex;
    justify-content: center;
}

.main-image img {
    border-top: 3px solid #77A466;
    border-bottom: 3px solid #77A466;
    width: 100%;
}

.main-title h2 {
    color: #45610E;
    padding: 5px 0px;
}

/******** BOTTOM SECTION ********/

.bottom-section .content-wrapper {
    border-top: 5px solid #eee;
    border-bottom: 5px solid #eee;

}

.section-one,
.section-two,
.section-three {
    /*outline: 3px dotted red;*/
    box-sizing: border-box;
    width: 100%;
}

.section-one {
    /*width: 350px;*/

}

.section-two {
    /*width: 500px;*/
    border-top: 5px solid #eee;
    border-bottom: 5px solid #eee;
}

.section-three {
    /*width: 350px;*/

}

.bottom-section h3 {
    margin: 30px 0px;

}

.menu-list {
    padding-left: 0px;
    list-style: none;
}

.menu-list li {
    color: #45610E;
    line-height: 36px;
    font-size: 1rem;
}

/******** FOOTER STYLES ********/
footer {
    /*text-align: center;*/
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

footer span {
    font-family: "Galada", cursive;
    text-transform: lowercase;
    color: #45610E;
    font-size: 0.875em;
}